@page
@model AcUniform.Pages.JuniorS.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Uniform Name: <input type="text" asp-for="SearchString" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Junior[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Junior[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Junior) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JuniorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JuniorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JuniorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
